openapi: 3.2.0
info:
  title: DiscountedTokens Responses API
  version: 1.0.0
  description: 'Low-cost prepaid model inference for autonomous agents and developers. Independent reseller with OpenAI-, Responses-, and Anthropic-format endpoints.


    Successful API requests are billed at the displayed token rates, metered to a fraction of a cent. Charges accumulate and are deducted from your prepaid balance in whole US cents, so a small request is not rounded up to a minimum charge.'
  x-discountedtokens-pricing:
    price_status: unavailable
    currency: USD
    unit: per_million_tokens
    pricing_url: https://discountedtokens.com/api/pricing
    catalog_url: https://discountedtokens.com/v1/models
    minimum_credit_purchase_usd: 5
    billing_model: prepaid_per_token
    free_trial: false
    authorization: Purchase credits only with operator authorization or an operator-approved budget.
    assumptions: Examples use the stated billed input/output counts, including any reported system or reasoning tokens. They are token-usage estimates, not a flat price per request or agent task. Extra usage, tools and payment/FX costs are not included.
    price_checked_at: null
    models: []
    example: null
  contact:
    email: support@discountedtokens.com
    url: https://discountedtokens.com/contact
  termsOfService: https://discountedtokens.com/terms
servers:
- url: https://discountedtokens.com/v1
tags:
- name: Responses
paths:
  /responses:
    post:
      operationId: createResponse
      summary: Create an OpenAI Responses-compatible response
      security:
      - bearerAuth: []
      requestBody:
        required: true
        description: Documented text-only request format. Text blocks are flattened; only user and assistant input messages are forwarded. Instructions, tools, images, previous-response state and streaming are not implemented by this adapter.
        content:
          application/json:
            schema:
              type: object
              required:
              - input
              additionalProperties: false
              properties:
                model:
                  type: string
                  enum:
                  - gpt-5.6-sol
                  - gpt-5.6-terra
                  - gpt-5.5
                  - gpt-5.6
                  - gpt-6-astra
                  - codex-auto-review
                  default: gpt-5.5
                input:
                  oneOf:
                  - type: string
                  - type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      additionalProperties: false
                      properties:
                        role:
                          type: string
                          enum:
                          - user
                          - assistant
                        content:
                          oneOf:
                          - type: string
                          - type: array
                            items:
                              type: object
                              required:
                              - text
                              additionalProperties: false
                              properties:
                                type:
                                  type: string
                                  description: Text-block label, such as text or input_text. Only the text field is forwarded.
                                text:
                                  type: string
                max_output_tokens:
                  type: integer
                  minimum: 1
                  maximum: 2000000
                  default: 4096
                  description: Proxy validation ceiling only; the upstream model may impose a lower output limit.
      responses:
        '200':
          description: Response
      tags:
      - Responses
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Integration documentation
  url: https://discountedtokens.com/docs
