openapi: 3.2.0
info:
  title: DiscountedTokens Models API
  version: 1.0.0
  description: 'Low-cost prepaid model inference for autonomous agents and developers. Independent reseller with OpenAI-, Responses-, and Anthropic-format endpoints.


    Successful API requests are billed at the displayed token rates, metered to a fraction of a cent. Charges accumulate and are deducted from your prepaid balance in whole US cents, so a small request is not rounded up to a minimum charge.'
  x-discountedtokens-pricing:
    price_status: unavailable
    currency: USD
    unit: per_million_tokens
    pricing_url: https://discountedtokens.com/api/pricing
    catalog_url: https://discountedtokens.com/v1/models
    minimum_credit_purchase_usd: 5
    billing_model: prepaid_per_token
    free_trial: false
    authorization: Purchase credits only with operator authorization or an operator-approved budget.
    assumptions: Examples use the stated billed input/output counts, including any reported system or reasoning tokens. They are token-usage estimates, not a flat price per request or agent task. Extra usage, tools and payment/FX costs are not included.
    price_checked_at: null
    models: []
    example: null
  contact:
    email: support@discountedtokens.com
    url: https://discountedtokens.com/contact
  termsOfService: https://discountedtokens.com/terms
servers:
- url: https://discountedtokens.com/v1
tags:
- name: Models
paths:
  /models:
    get:
      operationId: listModels
      summary: List available models and live prices
      responses:
        '200':
          description: Model list
      tags:
      - Models
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Integration documentation
  url: https://discountedtokens.com/docs
